<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Gunting Batu Kertas" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/icon/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/icon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/assets/icon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="apple-mobile-web-app-title" content="Simple Javascript Games" />
    <meta name="application-name" content="Simple Javascript Games" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/games.css" rel="stylesheet" />
  </head>
  <body>
    <!--TopNavigation-->
    <header>
        <div class="back">
            <h1>
                <a href="/?user=<%= name %>">
                    &lt;
                </a>
            </h1>
        </div>
        <div class="brand">
            <img src="/assets/images/logo.png" alt="logo" class="logo">
            <h1>ROCK PAPER SCISSORS</h1>
        </div>
    </header>

    <!--GameBox-->
    <section>
        <div class="game-area">
            <!--Human-->
            <div class="user-choice">
                <h1 class="player-name">PLAYER 1</h1>
                <div class="used">
                    <button class="choice batu user-tool your-tool">
                        <img class="tool" src="/assets/images/batu.png" alt="batu">
                    </button>
                    <button class="choice kertas user-tool your-tool">
                        <img class="tool" src="/assets/images/kertas.png" alt="kertas">
                    </button>
                    <button class="choice gunting user-tool your-tool">
                        <img class="tool" src="/assets/images/gunting.png" alt="gunting">
                    </button>
                </div>
            </div>

            <!--Navigation-->

            <div id="vs_result" class="Versus-Reset">
                <div class="boxR" id="box">
                    <h1 id="h1">VS</h1>
                </div>
                <!--For Refresh-->
                <div class="refresh">
                    <button id="reset" type="reset">
                        <img id="reset" src="/assets/images/refresh.png">
                    </button>
                </div>
            </div>

            <!--Com-->
            <div class="Com-Choice">
                <h1 class="player-name">COM</h1>
                <div class="used">
                    <button class="choice batu user-tool">
                        <img src="/assets/images/batu.png" alt="batu">
                    </button>
                    <button class="choice kertas user-tool">
                        <img src="/assets/images/batu.png" alt="kertas">
                    </button>
                    <button class="choice gunting user-tool">
                        <img src="/assets/images/batu.png" alt="gunting">
                    </button>
                </div>
            </div>
        </div>
    </section>
  
</body>
  <script src="/scripts/script.js"></script>
</html>

